{% extends "layout.njk" %}

{% block head%}

  <title>FoodFy - Receitas</title>

  {% endblock%}

  {% block content %}

    <main>

      <section class="recipes">

        <div class="cards">

          {% for item in items %}
            <div class="card">
              <div id="{{ loop.index0 }}">

                <img src="{{item.image}}" alt="Foto da receita {{item.title}}" id="{{ loop.index0 }}">

                <h3 id="{{ loop.index0 }}">{{item.title}}</h3>
                <p>{{item.author}}</p>
              </div>
            </div>
          {% endfor %}

          {% for item in items %}
            <div class="card">
              <div id="{{ loop.index0 }}">

                <img src="{{item.image}}" alt="Foto da receita {{item.title}}" id="{{ loop.index0 }}">

                <h3 id="{{ loop.index0 }}">{{item.title}}</h3>
                <p>{{item.author}}</p>
              </div>
            </div>
          {% endfor %}

        </section>

      </main>
    </div>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <p>Fechar Modal</p>
        </a>

        <div class="modal-info">
          <img src="/assets/burger.png" alt="triplo bacon burguer">
          <h1>Triplo bacon burger</h1>
          <h2>por Jorge Relato</h2>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/scripts.js"></script>

{% endblock %}