* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}
/* Nav Bar */

header{
  display: inline;
}

header a{
  margin: 30px;
  text-decoration: none;
  color: black;
}

header img{
  margin-right: 30px;
  margin-top: 20px;
}

.container {
  border: 1px solid transparent;
  max-width: 100%;
  height: 366px;
  margin: 30px 0;
  border-radius: 30px;
  background: url(../assets/chef.png) bottom right 20%;
  background-color: #FBDFDB;
  background-repeat: no-repeat;
}

.container-title {
  width: 420px;
  height: 84px;
  padding: 50px;
  margin: 60px;
}

.container-title h2 {
  font-size: 32px;
  line-height: 38px;
}

.container-title p {
  font-size: 18px;
  line-height: 28px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
 width: 300px;
 margin: 20px 0;
}

.card img {
  width: 300px;
  height: 140px;
  border-radius: 8px;
  cursor: pointer;
}

.card h4 {
  font-size: 18px;
  line-height: 21px;
  padding: 10px 0;
  cursor: pointer;
}

.card p {
  color: #777777;
  font-size: 14px;
  line-height: 16px;

}

footer {
  text-align: center;
  color: #eeeeee;
  padding: 20px 0;
}

footer p{
  font-size: 14px;
  text-align: center;
  color: #999999;
  padding: 20px 0;
}

section{
  padding-left: 28px;
}

section h1{
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  width: 100%;
}

section p{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 28px;
  color: #444444
}

section h2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  
}

.recipes{
  margin: 50px auto 0;
}

/* Modal */

.modal-overlay{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  border-radius: 15px;
  top: 5%;
  position: relative;
  background-color: white;
  width: 660px;
  height: 500px;
  margin: 5vh auto;
}

.close-modal p{
  font-size: 16px;
  color: #999999;
  position: absolute;
  cursor: pointer;
  text-align: center;
  bottom: 5%;
  left: 43%;

  
}

/* Modal.Active */

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}


.modal-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.modal-info img{
  width: 90%;
  margin: 30px auto 0;
  border-radius: 15px;

}

.modal-info h4{
  text-align: center;
  margin: 20px auto 0;
  font-size: 24px;
  font-weight: 400;
  color: #111111;
}

.modal-info p{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  margin: 5px auto;
}



